

body {
    font-family: "Poppins", sans-serif;
}

.login-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-label {
    font-size: 14px;
    color: black;
    text-align: left;
    margin-bottom: 5px;
}

.login-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.login-input:focus {
    outline: none;
    border-color: #ccc;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.login-button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #727272;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Poppins", sans-serif;
}

.login-button:hover {
    background-color: #9e9d9d;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

.register-link {
    margin-top: 15px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}


